@model project_mango_.Models.pet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/mylayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>pet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pet_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pet_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.legs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.legs)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.food)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.food)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contactno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
