@model project_mango_.Models.car

@{
    ViewBag.Title = "Edit";
   // Layout = "~/Views/Shared/mylayout.cshtml";
}
<link href="@Url.Content("~/Content/MYCSS.css")" rel="stylesheet" type="text/css" />
<body background="~/images/edit.jpg">
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>car</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.model)
            @Html.ValidationMessageFor(model => model.model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.wheel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.wheel)
            @Html.ValidationMessageFor(model => model.wheel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.door)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.door)
            @Html.ValidationMessageFor(model => model.door)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.user)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user)
            @Html.ValidationMessageFor(model => model.user)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contactno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contactno)
            @Html.ValidationMessageFor(model => model.contactno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    </body>